@import "tailwindcss";

@theme {
  --breakpoint-xmd: 425px;
  --font-codec-cold: var(--font-codec-cold);
  --font-codec-warm: var(--font-codec-warm);
  --font-montserrat: var(--font-montserrat);
  --color-yellow-folia: #fffb00;
  --color-blue-folia: #1b1a66;
}

.font-codec-cold {
  font-family: var(--font-codec-cold);
}

.font-codec-warm {
  font-family: var(--font-codec-warm);
}
